.App {
  display: grid;
  grid-template-columns: 8px 480px auto 720px 8px;
  grid-template-rows: 8px 400px 8px 20px auto 8px;
  min-height: 100vh;
}

.AppTopViz {
  display: flex;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-content: center;
}

.AppTopStats {
  display: grid;
  grid-column: 4/5;
  grid-row: 2/3;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr;
}

.AppList {
  grid-column: 2/5;
  grid-row: 5/6;
}

.Header {
  display: flex;
  padding-left: 30px;
  grid-column: 2/5;
  grid-row: 4/5;
  font-size: 12px;
  border-bottom: 1px solid black;
}


.line-item {
  align-items: center;
  border-bottom: 1px solid black;
  cursor: pointer;
  display: flex;
  height: 40px;
}

.line-item:hover,
.line-item--hover {
  background-color: gainsboro;
}

.line-item_color {
  background-color: black;
  flex: 0 0 16px;
  height: 16px;
  margin-right: 12px;
  margin-left: 4px;
}

.Header_type,
.line-item_type {
  flex: 0 0 20px;
  margin-right: 4px;
}

.Header_name,
.line-item_name {
  flex: auto;
}

.Header_bar,
.line-item_bar {
  flex: 0 0 30%
}

.Header_count,
.line-item_count {
  flex: 0 0 15%;
}

.Header_percentage,
.line-item_percentage {
  flex: 0 0 15%;
}

.bar {
  background-color: lightgray;
  position: relative;
  width: 250px;
}

.bar_fill {
  background-color: black;
  height: 20px;
}
